.app-container {
  background-color: #111111;
  color: #ffffff;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-between;

  // @media screen and (max-width: 991px) {
  //   flex-direction: row-reverse;
  // }
}
