.app-container {
  background-color: #111111;
  color: #ffffff;
  width: 100vw;
  height: 100dvh;

  display: flex;
  justify-content: space-between;
  position: relative;

  .mobile-button {
    display: none;
  }

  @media screen and (max-width: 991px) {
    .mobile-button {
      display: flex;
      right: 16px;
      top: 16px;
      position: absolute;
      z-index: 11;

      button {
        border: none;
        padding: 8px;
      }
    }
  }
}
